.heart-grid{
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns:  repeat(7, auto);
    justify-content:center;
    width: 70%;
    height: 60%;
    column-gap: 5px;
    row-gap: 5px;
}
.rect{
    border: 3px solid;
    background-color: #fff;
}
.small{
    width: 100px;
    height: 100px;
}
.large{
    width: 206px;
    height: 206px;
}
.black{
    border-color: var(--text-color);
    border-radius: 2px;
}
.rect:hover {
    transform: scale(1.5);
    z-index: 1;
}