:root {
    --text-color: #252422;
    --link-text-hover: #CCC5B9;
    --dark-mode-light: #FFFCF2;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
*::-webkit-scrollbar{
    display: none;
}
body{
    color: var(--text-color);
    user-select: none; /* Disable text selection globally */
}
a{
    color: var(--text-color);
}
.dark-mode {
    background-color: var(--text-color);
    color: #fff;
}
.dark-mode a{
    color: #fff;
}
.dark-mode .item{
    color: #fff;
}
.dark-mode .item::after{
    background-color: #fff;
}
.dark-mode .rect{
    background-color: var(--dark-mode-light);
    color:var(--text-color);
}
.dark-mode .rect a{
    color:var(--text-color);
}
.dark-mode .dot{
    background-color: #fff;
}
.dark-mode .icon{
    filter: brightness(0) invert(1);
}
.dark-mode #container::after{
    background-color: #fff;
}
.home-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: 100vh;
    position: relative;
}
.material-symbols-outlined {
   margin-top: 50px;
  font-variation-settings:
  'FILL' 100,
  'wght' 100,
  'GRAD' 0,
  'opsz'  0
}
#moon{
    font-size: 48px;
}
#moon:hover{
    color: var(--link-text-hover);
}
#moon:active {
    font-variation-settings: 'FILL' 100;
  }

#moon.disabled:active {
    font-variation-settings: 'FILL' 100;
}
#flower{
    font-size: 40px;
}
#home-right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 50px;
    padding-top: 50px;
}
.menu a{
    padding-bottom: 10px;
    text-decoration: none;
}
.menu a:hover{
    color: var(--link-text-hover);
}
#portfolio-owner{
    font-weight: 300 !important;
    font-size: 50px;
}
#portfolio-field{
    font-size: 35px;
}
.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--text-color);
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.about-me-section{
    display: grid;
    justify-content: center;
    height: 100vh;
    padding: 50px 50px;
    grid-template-columns: repeat(2, 1fr);
    overflow: scroll;
    position: relative;
}
.about-me-container{
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}
.about-me-container ul{
    padding-left: 30px;
}
.about-me-container ul li{
    font-size: 24px;
}
.about-me-section h2{
    font-size: 24px;
    font-weight: 500;
    padding: 20px 0;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
}
#links-info li{
    font-size: 24px;
}
.skills-container{
    display: grid;
    grid-template-columns: auto auto;
}
.sub-skills-container{
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 48px;   
}
.projects-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    position: relative;
}
.projects-section #projects-title{
    width: 100%;
    text-align: center;
    padding: 50px 70px;
}
.contact-me-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: text; /* Re-enable text selection for the contact-me section */
}
.contact-me-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-me-info h1::selection{
    color: plum;
}
.contact-me-info h1:hover{
    color: plum;
}
.contact-me-links{
    display: flex;
    flex-direction: row;
}
.contact-me-links a{
    padding: 15px;
}
.reveal-section {
    transition: opacity 0.8s ease-in-out;
}

.hidden-content {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}
.hidden{
    display: none;
}
.contact-me-links .icon:hover{
    transform: scale(1.25);
}
.nav-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.nav-icon {
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.3s ease;
}
.nav-icon:hover {
    color: var(--link-text-hover);
}

/* Modal styles */
.modal {
    display: none; 
    position: absolute; 
    z-index: 1; 
    width: 300px; 
    left: 50%; 
    transform: translateX(-50%);
}

.modal-content {
    background-color: var(--dark-mode-light);
    color: var(--text-color);
    padding: 20px;
    border: 1px solid #888;
    width: 100%; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal-content button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: var(--text-color);
    color: var(--dark-mode-light);
    transition: background-color 0.3s, color 0.3s;
}

.modal-content button:hover {
    background-color: var(--dark-mode-light);
    color: var(--text-color);
}


