:root {
    --text-color: #252422;
    --link-text-hover: #CCC5B9;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
*::-webkit-scrollbar{
    display: none;
}
body{
    color: var(--text-color);
}
a{
    color: var(--text-color);
}
.dark-mode {
    background-color: var(--text-color);
    color: #fff;
}
.dark-mode a{
    color: #fff;
}
.dark-mode .dot{
    background-color: #fff;
}
.dark-mode .icon{
    filter: brightness(0) invert(1);
}
.home-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: 100vh;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 100,
  'wght' 100,
  'GRAD' 0,
  'opsz'  0
}
#moon{
    font-size: 48px;
}
#moon:hover{
    color: var(--link-text-hover);
}
#moon:active {
    font-variation-settings: 'FILL' 100;
  }

#moon.disabled:active {
    font-variation-settings: 'FILL' 100;
}
#flower{
    font-size: 40px;
}
.flower-dark-mode{
    background-color: #fff;
}
#home-right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 50px;
    padding-top: 50px;
}
.menu a{
    padding-bottom: 10px;
    text-decoration: none;
}
.menu a:hover{
    color: var(--link-text-hover);
}
#portfolio-owner{
    font-weight: 300 !important;
    font-size: 50px;
}
#portfolio-field{
    font-size: 35px;
}
.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--text-color);
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.about-me-section{
    display: grid;
    justify-content: center;
    height: 100vh;
    padding: 50px 50px;
    grid-template-columns: repeat(2, 1fr);
}
.about-me-container{
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}
.about-me-container ul{
    padding-left: 30px;
}
.about-me-container ul li{
    font-size: 18px;
}
.about-me-section h2{
    font-size: 24px;
    font-weight: 500;
    padding: 20px 0;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
}
#links-info li{
    font-size: 24px;
}
.skills-container{
    display: grid;
    grid-template-columns: auto auto;
}
.sub-skills-container{
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 48px;   
}

.projects-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-me-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-me-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-me-links{
    display: flex;
    flex-direction: row;
}
.contact-me-links a{
    padding: 15px;
}
.reveal-section {
    transition: opacity 0.8s ease-in-out;
}

.hidden-content {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}
.hidden{
    display: none;
}